<!-- 

<div class="container-fluid">
  <div class="container mb-4">
    <form [noValidate]="false" #docForm="ngForm" (ngSubmit)="onSubmit()">
      <h3 class="h3 my-3">Add Patient to the Network</h3>
      <div class="row form-row">
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label>
              First Name
              <sup class="fas fa-asterisk fw-normal text-danger" style="font-size: 8px;"></sup>
            </label>
            <input [(ngModel)]="model.fName" name="fName" id="fname" type="text" class="form-control"
              placeholder="first name" required />
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label>Last Name<sup class="fas fa-asterisk fw-normal text-danger" style="font-size: 8px;"></sup></label>
            <input [(ngModel)]="model.lName" name="lName" id="lname" type="text" class="form-control"
              placeholder="last name" />
          </div>
        </div>

        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label>Mobile<sup class="fas fa-asterisk fw-normal text-danger" style="font-size: 8px;"></sup></label>
            <input [(ngModel)]="model.phone" name="phone" id="mob" type="text" class="form-control" placeholder="mobile"
              required />
          </div>
        </div>

        <div class="col-12">
          <div class="form-group">
            <label>Patient Id<sup class="fas fa-asterisk fw-normal text-danger" style="font-size: 8px;"></sup></label>
            <input [(ngModel)]="model.patID" name="docID" id="accid" type="text" class="form-control"
              placeholder="patient account id" required />
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label>City<sup class="fas fa-asterisk fw-normal text-danger" style="font-size: 8px;"></sup></label>
            <input [(ngModel)]="model.city" name="city" id="city" type="text" class="form-control" placeholder="city"
              required />
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label>State</label>
            <input [(ngModel)]="model.state" name="state" id="state" type="text" class="form-control"
              placeholder="state" />
          </div>
        </div>
      </div>
      <button type="submit" id="btn" class="btn btn-primary mb-3">
        Add Patient
      </button>
    </form>
  </div>
  <app-progress_card [success]="success" [show]="show" [msg_text]="msg_text" [warn]="warn" (retry)="onSubmit()" (close)="onClose()">
  </app-progress_card>
</div> -->

<div class="container-fluid d-flex flex-column">
  <ul class="nav nav-pills mb-3 mt-1" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home"
        type="button" role="tab" aria-controls="pills-home" aria-selected="true">View Patient</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile"
        type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Add Patient</button>
    </li>
    <!-- <li class="nav-item" role="presentation">
      <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact"
        type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Edit Doctor</button>
    </li> -->
  </ul>
  <div class="content">
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        <app-viewpatient></app-viewpatient>
      </div>
      <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
        <app-addpatient></app-addpatient>
      </div>
     
    </div>
  </div>
</div>